DATA MERGING AND CLEANING

In [1]:
#importing the required libraries

import pandas as pd
import numpy as np

In [2]:
# set files path to merge
NGNO = pd.read_csv('C:/Users/USER/Downloads/Nigeria Orders.csv')
NGND = pd.read_csv('C:/Users/USER/Downloads/Nigeria Deliveries.csv')
NGNC = pd.read_csv('C:/Users/USER/Downloads/Nigeria Customers.csv')
KEND = pd.read_csv('C:/Users/USER/Downloads/Kenya Deliveries.csv')
KENO = pd.read_csv('C:/Users/USER/Downloads/Kenya Orders.csv')
KENC = pd.read_csv('C:/Users/USER/Downloads/Kenya Customers.csv')

C:\Users\USER\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
#merging the six files into one called df

df=pd.concat((NGNO,NGND,NGNC,KEND,KENO,KENC))
df.head(10)

,Order ID,Order Status,Category Name,SKU,Customization Group,Customization Option,Quantity,Unit Price,Cost Price,Total Cost Price,...,Language,Outstanding Amount,Loyalty Points,Number of Employees,Agent_Name,Unnamed: 34,Unnamed: 35,Debt Amount,Number of employees,Upload restuarant location
0,11262518.0,ORDERED,Flour & Sugar,KNFS0001,NaN,NaN,5.0,20850.0,20370,101850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11262518.0,ORDERED,Spreads,KNSP2001,NaN,NaN,1.0,325.0,300,300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11261796.0,DISPATCHED,Flour & Sugar,KNFS0001,NaN,NaN,5.0,20850.0,20370,101850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11261796.0,DISPATCHED,Spreads,KNSP2001,NaN,NaN,1.0,325.0,300,300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11261341.0,ORDERED,Spreads,KNSP2001,NaN,NaN,6.0,325.0,300,1800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,11261341.0,ORDERED,Flour & Sugar,KNFS0001,NaN,NaN,4.0,20850.0,20370,81480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,11261341.0,ORDERED,Flour & Sugar,KNFS1202,NaN,NaN,2.0,1100.0,1000,2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,11260766.0,COMPLETED,Flour & Sugar,KNFS0001,NaN,NaN,5.0,20850.0,20370,101850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,11260766.0,COMPLETED,Flour & Sugar,KNFS1202,NaN,NaN,1.0,1100.0,1000,1000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,11260736.0,ORDERED,Flour & Sugar,KNFS0001,NaN,NaN,2.0,20850.0,20370,40740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(71945, 90)

In [5]:
#Checking out the columns in the dataframe
df.columns

Index(['Order ID', 'Order Status', 'Category Name', 'SKU',
       'Customization Group', 'Customization Option', 'Quantity', 'Unit Price',
       'Cost Price', 'Total Cost Price', 'Total Price', 'Order Total',
       'Sub Total', 'Tax', 'Delivery Charge', 'Tip', 'Discount',
       'Remaining Balance', 'Payment Method', 'Additional Charge',
       'Taxable Amount', 'Transaction ID', 'Currency Symbol',
       'Transaction Status', 'Promo Code', 'Customer ID', 'Merchant ID',
       'Store Name', 'Pickup Address', 'Description', 'Distance (in km)',
       'Order Time', 'Pickup Time', 'Delivery Time', 'Ratings', 'Reviews',
       'Merchant Earning', 'Commission Amount', 'Commission Payout Status',
       'Order Preparation Time', 'Redeemed Loyalty Points',
       'Consumed Loyalty Points', 'Cancellation Reason', 'Flat Discount',
       'Checkout Template Name', 'Checkout Template Value', 'Task_ID',
       'Order_ID', 'Relationship', 'Team_Name', 'Task_Type', 'Notes',
       'Agent_ID', 'Distance(m)', 'Total_Time_Taken(min)', 'Pick_up_From',
       'Start_Before', 'Complete_Before', 'Completion_Time', 'Task_Status',
       'Ref_Images', 'Rating', 'Review', 'Latitude', 'Longitude', 'Tags',
       'Promo_Applied', 'Custom_Template_ID', 'Task_Details_QTY',
       'Task_Details_AMOUNT', 'Special_Instructions', 'Delivery_Charges',
       'Subtotal', 'Payment_Type', 'Task_Category', 'Earning', 'Pricing',
       'Last Used Platform', 'Is Blocked', 'Created At', 'Language',
       'Outstanding Amount', 'Loyalty Points', 'Number of Employees',
       'Agent_Name', 'Unnamed: 34', 'Unnamed: 35', 'Debt Amount',
       'Number of employees', 'Upload restuarant location'],
      dtype='object')

In [6]:
#changing the Not A Number values to 1

df = df.astype(object).where(pd.notnull(df),1)
df

,Order ID,Order Status,Category Name,SKU,Customization Group,Customization Option,Quantity,Unit Price,Cost Price,Total Cost Price,...,Language,Outstanding Amount,Loyalty Points,Number of Employees,Agent_Name,Unnamed: 34,Unnamed: 35,Debt Amount,Number of employees,Upload restuarant location
0,11262518.0,ORDERED,Flour & Sugar,KNFS0001,1,1,5.0,20850.0,20370,101850,...,1,1,1,1,1,1,1,1,1,1
1,11262518.0,ORDERED,Spreads,KNSP2001,1,1,1.0,325.0,300,300,...,1,1,1,1,1,1,1,1,1,1
2,11261796.0,DISPATCHED,Flour & Sugar,KNFS0001,1,1,5.0,20850.0,20370,101850,...,1,1,1,1,1,1,1,1,1,1
3,11261796.0,DISPATCHED,Spreads,KNSP2001,1,1,1.0,325.0,300,300,...,1,1,1,1,1,1,1,1,1,1
4,11261341.0,ORDERED,Spreads,KNSP2001,1,1,6.0,325.0,300,1800,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4172,1,1,1,1,1,1,1,1,1,1,...,en,0.0,0.0,1,1,1,1,1,1,1
4173,1,1,1,1,1,1,1,1,1,1,...,en,0.0,0.0,1,1,1,1,1,1,1
4174,1,1,1,1,1,1,1,1,1,1,...,en,0.0,0.0,1,1,1,1,1,1,1
4175,1,1,1,1,1,1,1,1,1,1,...,en,0.0,0.0,1,1,1,1,1,1.0,1
4176,1,1,1,1,1,1,1,1,1,1,...,en,0.0,0.0,1,1,1,1,1,1,1

In [7]:
#Dropping unnamed columns

data = df.drop([ "Unnamed: 34", "Unnamed: 35"], axis=1)
data.shape

(71945, 88)

In [8]:
data.columns

Index(['Order ID', 'Order Status', 'Category Name', 'SKU',
       'Customization Group', 'Customization Option', 'Quantity', 'Unit Price',
       'Cost Price', 'Total Cost Price', 'Total Price', 'Order Total',
       'Sub Total', 'Tax', 'Delivery Charge', 'Tip', 'Discount',
       'Remaining Balance', 'Payment Method', 'Additional Charge',
       'Taxable Amount', 'Transaction ID', 'Currency Symbol',
       'Transaction Status', 'Promo Code', 'Customer ID', 'Merchant ID',
       'Store Name', 'Pickup Address', 'Description', 'Distance (in km)',
       'Order Time', 'Pickup Time', 'Delivery Time', 'Ratings', 'Reviews',
       'Merchant Earning', 'Commission Amount', 'Commission Payout Status',
       'Order Preparation Time', 'Redeemed Loyalty Points',
       'Consumed Loyalty Points', 'Cancellation Reason', 'Flat Discount',
       'Checkout Template Name', 'Checkout Template Value', 'Task_ID',
       'Order_ID', 'Relationship', 'Team_Name', 'Task_Type', 'Notes',
       'Agent_ID', 'Distance(m)', 'Total_Time_Taken(min)', 'Pick_up_From',
       'Start_Before', 'Complete_Before', 'Completion_Time', 'Task_Status',
       'Ref_Images', 'Rating', 'Review', 'Latitude', 'Longitude', 'Tags',
       'Promo_Applied', 'Custom_Template_ID', 'Task_Details_QTY',
       'Task_Details_AMOUNT', 'Special_Instructions', 'Delivery_Charges',
       'Subtotal', 'Payment_Type', 'Task_Category', 'Earning', 'Pricing',
       'Last Used Platform', 'Is Blocked', 'Created At', 'Language',
       'Outstanding Amount', 'Loyalty Points', 'Number of Employees',
       'Agent_Name', 'Debt Amount', 'Number of employees',
       'Upload restuarant location'],
      dtype='object')

In [9]:
#saviing the dataframe into  csv file
data = pd.DataFrame(df)
data.to_csv('Merged_files1.csv')